.Container{
    position: relative;
    margin: 3% 3% auto;
}

.my-custom-shadow {
  box-shadow: 0px 0px 10px 2px grey;
}

.form-buttom {
  margin-right: 30px;
  font-weight: bold;
}


  .div-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .input-container {
    margin-right: 30px;
  }

  tr{
    background-color: white;
    text-align: center;
  } 

  td {
    text-align: center;
  }

  tr:nth-child(odd) {
    background-color: #e7f3fd;
  }

  .my-list-style {
    box-shadow: 0px 0px 10px 3px lightblue!important
  }
