.bloco-ajuda {
    display: inline-block;
    height: 19px;
    width: 20px;   
    border-radius: 25%;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 5px;
    background: lightyellow;
}

#tooltip > .tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #062e56;
  }
  
  .has-error {
    color: red;
}

.success {
  color: #5cb85c;
}

.input-success {
  border-color: #5cb85c !important;
  background-position: center right .5625rem;
  background-repeat: no-repeat;  
  background-image: url(../../assets/icons/success.svg);
  background-size: auto 70%;
}

.input-has-error {
  border-color: red;
  background-position: center right .5625rem;
  background-repeat: no-repeat;  
  background-image: url(../../assets/icons/error.svg);
  background-size: auto 70%;
}

.input-has-warning {
  border-color: orange;
  background-position: center right .5625rem;
  background-repeat: no-repeat;  
  background-image: url(../../assets/icons/warning.svg);
  background-size: auto 70%;
}

.has-warning {
  color: orange;
  background-position: center right .5625rem;
  background-repeat: no-repeat;
}

.list-group-item {
  background-color: white;
}

.list-group-item:nth-child(odd) {
  background-color: #efecec;
}

.table-empty {
  background: #f5f5f5 !important;
  padding: 50px;
  box-shadow: 0px 0px 10px 3px lightblue!important;
  border-radius: 1%;
}

.table-empty-icon {
  margin-top: 15px;
  border: 1px solid #bbbaba;
  border-radius: 20%;
  padding: 25px;
  background: white;
  opacity: 0.7;
  width: 15%;
  margin: auto;
  box-shadow: 0px 0px 33px 0px black;

}

.help-block{
  display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}